---
import MainLayout from "@/layouts/MainLayout.astro";
import ProductCard from "@/components/card/ProductCard.astro";

export function getStaticPaths() {
  return [
    { params: { brand: "apple" }},
    { params: { brand: "samsung" }},
    { params: { brand: "google" }},
    { params: { brand: "oneplus" }},
    { params: { brand: "xiaomi" }},
    { params: { brand: "sony" }},
    { params: { brand: "dell" }},
    { params: { brand: "asus" }},
    { params: { brand: "nvidia" }},
    { params: { brand: "amd" }},
  ];
}

interface Brand {
  slug: string;
  name: string;
  product: {
    name: string;
    slug: string;
    price: number;
    description: string;
    image: { url: string };
    rating: number;
  }[];
}

const { brand } = Astro.params;

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        brands {
          name
          slug
          product {
            name
            slug
            price
            description
            image { url }
            rating
          }
        }
      }
    `,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();

const brandData: Brand | undefined = json.data.brands.find((item: Brand) => item.slug === brand);
---

<MainLayout>
  <div class="p-5 grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4
  min-h-screen">
    {brandData && brandData.product.map((product) => (
      <ProductCard 
        brandName={brandData.name}
        name={product.name}
        slug={product.slug}
        imageUrl={product.image.url}
        price={product.price}
      />
    ))}
  </div>
</MainLayout>